Repository hmcts/juror-scheduler-execution, pull requests merged in 2024-05, with the labels that each got.

#148 task/JM-7183 bump up test coverage
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-148

#151 Added remote directory default to root
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/juror/job/execution/testsupport/AbstractSftpTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-151

#152 Added remote directory default to root
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
  src/test/java/uk/gov/hmcts/juror/job/execution/testsupport/AbstractSftpTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-152

#153 try other creds
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-153

#156 try disabling temp filename
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-156

#157 retest 1
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-157

#158 redo fix
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-158

#160 task/JM-7193 onlyRunFailed flag for contentStore jobs
  src/main/java/uk/gov/hmcts/juror/job/execution/api/controllers/JobController.java
  src/main/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertor.java
  src/main/java/uk/gov/hmcts/juror/job/execution/database/model/ContentStore.java
  src/main/java/uk/gov/hmcts/juror/job/execution/database/model/MetaData.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/api/controllers/JobControllerTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertorTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/testsupport/TestConstants.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-160

#162 hotfix/Update schema for performance stats job
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-162

#172 Pool transfer job does not run
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/pooltransfers/PoolTransferJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/pooltransfers/PoolTransferJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-172

#173 Updated juror digital house keeping job procedure call
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/housekeeping/jurordigital/JurorDigitalHouseKeepingConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/housekeeping/jurordigital/JurorDigitalHouseKeepingJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/housekeeping/jurordigital/JurorDigitalHouseKeepingJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-173

#175 task/JM-7385: Update row limit config (application.yaml)
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-175
