Repository hmcts/juror-scheduler-execution, pull requests merged in 2024-06, with the labels that each got.

#174 task/JM-7317 Remove STMP from scheduled Jobs as this is no longer require
  src/main/java/uk/gov/hmcts/juror/job/execution/config/SmtpConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/config/contracts/HasSmtpConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/checks/morning/DashboardMorningChecksConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/checks/morning/DashboardMorningChecksJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardGenerateJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/Certificates.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/DashboardData.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/stats/PerformanceStatsConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/stats/PerformanceStatsJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/service/SmtpServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/job/execution/service/contracts/SmtpService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/checks/morning/DashboardMorningChecksJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardGenerateJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/CertificatesTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/DashboardDataTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/stats/PerformanceStatsJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/service/SmtpServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-174

#180 Hotfix/scheduler stats fix
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/stats/PerformanceStatsJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/stats/PerformanceStatsJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-180

#181 set up pnc cert
  charts/juror-scheduler-execution/Chart.yaml
  charts/juror-scheduler-execution/values.yaml
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-181

#185 Hotfix/cert base64 decode
  src/main/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertor.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/checks/morning/DashboardMorningChecksJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/BureauLettersAutomaticallyGenerated.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/Certificates.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/HouseKeeping.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/PncCheck.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardGenerateJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/CertificatesTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-185

#186 Payment stored procedure does not upload to BAIS
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/payment/PaymentFileJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/payment/PaymentFileJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-186

#187 re-add and set alias to 1
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-187

#189 Removed oracle driver
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-189

#190 Updated dependencies
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-190

#193 Updated Job name + Dependencies
  build.gradle
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/AutoSys.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/AutoSysTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-193

#197 Updated housekeeping job
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/housekeeping/standard/HouseKeepingConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/housekeeping/standard/HouseKeepingJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/housekeeping/standard/HouseKeepingJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-197

#202 Added additional error logs
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/BureauLettersAutomaticallyGenerated.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-202

#203 hotfix/JM-7368
  src/main/java/uk/gov/hmcts/juror/job/execution/service/DatabaseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-203

#206 hotfix/JM-7368 update to bureau letters generated job
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/BureauLettersAutomaticallyGenerated.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-206

#207 Hotfix/JM-7368 additional logging for error
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/BureauLettersToBePrinted.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/Expenses.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/PncCheck.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-207
