Repository hmcts/juror-scheduler-execution, pull requests merged in 2024-03, with the labels that each got.

#86 update appinsights
  lib/applicationinsights.json
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-86

#89 reintroduce stg var
  charts/juror-scheduler-execution/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-89

#96 task/JM-6576: juror-scheduler-execution API update
  Dockerfile
  build.gradle
  src/main/java/uk/gov/hmcts/juror/job/execution/config/ClientConfig.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-96

#97 Updated scheme + made some host/port come from environmental properties
  charts/juror-scheduler-execution/Chart.yaml
  charts/juror-scheduler-execution/values.dev.template.yaml
  charts/juror-scheduler-execution/values.stg.template.yaml
  charts/juror-scheduler-execution/values.yaml
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-97

#99 update service subject and env vars
  Jenkinsfile_CNP
  README.md
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-99

#104 Fixed issue where scheduler call back would fail due to missing host/…
  build.gradle
  charts/juror-scheduler-execution/Chart.yaml
  charts/juror-scheduler-execution/values.yaml
  src/main/java/uk/gov/hmcts/juror/job/execution/client/SchedulerServiceClientImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/juror/job/execution/client/SchedulerServiceClientImplTest.java
Labels: bug, ns:juror, prd:juror, rel:juror-scheduler-execution-pr-104

#108 Bais variables
  charts/juror-scheduler-execution/Chart.yaml
  charts/juror-scheduler-execution/values.yaml
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-108

#110 update sscl and remove remote-directory
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-110

#107 Added ability to apply default database configs
  src/main/java/uk/gov/hmcts/juror/job/execution/client/JurorServiceClientImpl.java
  src/main/java/uk/gov/hmcts/juror/job/execution/client/PoliceNationalComputerCheckClientImpl.java
  src/main/java/uk/gov/hmcts/juror/job/execution/client/SchedulerServiceClientImpl.java
  src/main/java/uk/gov/hmcts/juror/job/execution/config/DatabaseConfig.java
  src/main/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertor.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/Job.java
  src/main/java/uk/gov/hmcts/juror/job/execution/service/DatabaseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/job/execution/client/JurorServiceClientImplTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/client/PoliceNationalComputerCheckClientImplTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertorTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/JobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/service/DatabaseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-107

#112 Updated url defaults and updated directory for ftp
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-112

#114 Added scheme to procedures
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/payment/PaymentFileJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/print/PrintFileJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/payment/PaymentFileJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/print/PrintFileJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-114

#115 Updated contentStore jobs
  src/main/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertor.java
  src/main/java/uk/gov/hmcts/juror/job/execution/database/model/ContentStore.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/payment/PaymentFileJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/print/PrintFileJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/service/DatabaseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/job/execution/database/DatabaseFieldConvertorTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/payment/PaymentFileJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/print/PrintFileJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/service/DatabaseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-115

#116 Fixed space issue
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-116

#122 JWT-Realignment
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-122
