Repository hmcts/juror-scheduler-execution, pull requests merged in 2024-02, with the labels that each got.

#60 update application insights name
  lib/applicationinsights.json
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-60

#66 update secret names
  Jenkinsfile_CNP
  charts/juror-scheduler-execution/Chart.yaml
  charts/juror-scheduler-execution/values.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-66

#73 update charts
  charts/juror-scheduler-execution/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-73
