Repository hmcts/juror-scheduler-execution, pull requests merged in 2024-04, with the labels that each got.

#127 JM-6821: update suppressions
  config/owasp/suppressions.xml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-127

#140 Fixed issue with content store job execution order
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
  src/test/java/uk/gov/hmcts/juror/job/execution/testsupport/AbstractSftpTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-140

#141 Fixed issue with content store job alignment
  src/main/java/uk/gov/hmcts/juror/job/execution/util/Sftp.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/juror/job/execution/testsupport/AbstractSftpTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-141

#142 task/JM-7095 Update ContentStore Job to only update complete status on successful upload
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJob.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/contentstore/ContentStoreFileJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-142

#146 add missing secret
  charts/juror-scheduler-execution/Chart.yaml
  charts/juror-scheduler-execution/values.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-146
