Repository hmcts/juror-scheduler-execution, pull requests merged in 2025-02, with the labels that each got.

#237 Release5.2
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardGenerateJob.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/AutoSys.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/BureauLettersAutomaticallyGenerated.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/DashboardData.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/ErrorsOvernight.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/HouseKeeping.java
  src/main/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/PncCheck.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/AmsDashboardGenerateJobTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/AutoSysTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/DashboardDataTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/ErrorsOvernightTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/HouseKeepingTest.java
  src/test/java/uk/gov/hmcts/juror/job/execution/jobs/dashboard/ams/data/PncCheckTest.java
Labels: ns:juror, prd:juror

#238 Task/JS-82: Update dependencies in scheduler execution
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-238

#239 Release5.3
  Dockerfile
  build.gradle
  charts/juror-scheduler-execution/Chart.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:juror, prd:juror, rel:juror-scheduler-execution-pr-239
